/* The Global Reset */
* {
    border: none;
    border-radius: 0;
    font-family: "Iosevka Nerd Font";
    font-size: 13px;
    min-height: 0;
    margin: 0;
    padding: 0;
}

#window {
    color: #888888;
    font-style: italic; 
    padding-left: 20px;
}

/* The Main Bar */
window#waybar {
    background-color: rgba(11, 12, 16, 0.85); /* 85% opacity pure black */
    color: #aeb3c2; /* Steel gray text */
    border-bottom: 1px solid #333333; /* Razor thin physical boundary */
}

/* Module Spacing */
#workspaces, #window, #clock, #battery, #pulseaudio, #cpu, #memory, #network {
    padding: 0px 15px;
}

/* Workspace Geometry */
#workspaces button {
    color: #555555; /* Dim inactive workspaces */
    background: transparent;
    font-weight: bold;
}

#workspaces button.active {
    color: #ffffff; /* Harsh white for the active sword strike */
    border-bottom: 2px solid #ffffff; /* The katana slice underneath */
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    color: #aeb3c2;
}